
/* main css */
body {
    background-color: #f2f2f2;
      font-family: "Lato";
      font-weight: 300;
      font-size: 16px;
      color: #555;
  
      -webkit-font-smoothing: antialiased;
      -webkit-overflow-scrolling: touch;
  }
  
  /* Titles */
  h1, h2, h3, h4, h5, h6 {
      font-family: "Lato";
      font-weight: 300;
      color: #333;
  }
  
  
  /* Paragraph & Typographic */
  p {
      line-height: 28px;
      margin-bottom: 25px;
  }

  /* Links */
  a {
      color: #555;
      word-wrap: break-word;
      height: 20;
      width: 20;
  
      -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
      -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
      -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
      -o-transition: color 0.1s ease-in, background 0.1s ease-in;
      transition: color 0.1s ease-in, background 0.1s ease-in;
  }
  
  a:hover,
  a:focus {
      color: #7b7b7b;
      text-decoration: none;
      outline: 0;
  }
    
   hr {
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid #ccc;
      margin: 1em 0;
      padding: 0;
  }
  
  
  /*---------------------------------------------------
      3.1 Topbar
  ---------------------------------------------------*/
  
  #section-topbar {
      height: 36px;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
      overflow: visible;
      font: normal 16px/24px  'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  #section-topbar a {
    color: #fff;
  }
  
  #topbar-inner {
      background: #2f2f2f;
      line-height: 0;
      text-align: center;
      border-bottom: 12px solid #f2f2f2 !important;
      background-color: #2f2f2f !important;
  }
  
  /*
      Top Bar
  
      By default, top navigation bar uses "fixed" position
  */
  #section-topbar ul#nav {
      display: inline-block;
      position: relative;
      margin: 0;
      padding: 0;
  
      border-right: 1px solid #222;
  
      /* For IE, the outcast */
      zoom:1;
      *display: inline;
  }
  
  #section-topbar ul#nav > li {
      display: block;
      float: left;
      padding: 0;
  }
  
  #topbar-inner {
      border-bottom: 18px;
      border-color: white;
      
  }
  #section-topbar ul#nav a {
    display: block;
    font: normal 11px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 18px 20px 18px 20px;
    border-left: 1px solid #222;
  }
  
      #section-topbar ul#nav a:hover {
        background: #222;
        text-decoration: none;
        border-left: 1px solid #111;
      }
  
      #section-topbar ul#nav .active a {
          background: #44bbaa;
          border-left: 1px solid #111;
      }
  
          #section-topbar ul#nav .active a:hover {
              background: #44bbaa;
          }
  #section-topbar i {
      font-size: 25px;
  }
  /*---------------------------------------------------
      SECTION WRAPS
  ---------------------------------------------------*/
  
  /* Header Wrap */
  #headerwrap {
      background: url(../images/railyardlj.jpg) no-repeat center;
      margin-top: 60px;
      padding-top: 88px;
      text-align:center;
      background-attachment: relative;
      background-position: center center;
      min-height: 480px;
      width: 100%;
      -webkit-background-size: 100%;
      -moz-background-size: 100%;
      -o-background-size: 100%;
      background-size: 100%;
  
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }
  
.centered {
    text-align: left;
    padding-right: 25px;
}

#headerwrap h1 {
    font-family: "Lato";
    font-weight: 300;
    font-size: 80px;
    color: white;
    width:65%;
  }
  
  #headerwrap h3 {
      font-size: 20px;
      color: white;
  }
  
  /* Intro Wrap */
  
  #intro {
      background: #2c3e50;
      padding-top: 60px;
      padding-bottom: 60px;
      color: white;
  } 
  
  #intro h5, p {
      color: white;
  }
  
  #intro i {
      color: white;
      font-size: 20px;
      padding-right: 8px;
      vertical-align: middle;
  }
  
  
  #skillswrap {
      background: #2c3e50;
      padding-top: 60px;
      padding-bottom: 60px;
      color: white;
  }
  
  #skillswrap h5, p {
      color: white;
  }

#portfolio {
    background: #2c3e50;
    padding-top: 60px;
    padding-bottom: 60px;
    color: white;
}

#portfolio h5, p {
    color: white;
}

#portfolio i {
    color: white;
    font-size: 20px;
    padding-right: 8px;
    vertical-align: middle;
}

#icon-tag {
    color: #2c3e50;
    font-size: 20px;
    padding-right: 8px;
    vertical-align: middle;
    }


    
#interests {
    background: #2c3e50;
    padding-top: 80px;
    padding-bottom: 60px;
    color: white;
    }
    
#interests h5, {
    color: white;
    margin-top: 15px;
    padding-bottom: 10px;
}

#interests p {
    padding-top: 20px;
}
#interests i {
    color: white;
    font-size: 20px;
    padding-right: 8px;
    padding-top: 20px;
    vertical-align: middle;
}

#interests more {
    color: #95a5a6;
}

#f {
    padding-top: 4px;
}

  #footwrap {
      background: #2f2f2f;
      padding-top: 50px;
      padding-bottom: 50px;
  }
  
  #footwrap p {
      color: white;
  }
  
  #footwrap h5 {
      color: white;
  }
  
  
  #footwrap t {
      font-weight: 700;
  }
  
  #footwrap i {
        color: #1abc9c;
        font-size: 25px;
        vertical-align: middle;
    }   
    
    #footwrap j {
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-inline-start: 0px;
    }

  #education i {
    color: #2c3e50;
    font-size: 20px;
    padding-right: 8px;
    vertical-align: middle;
}
  


  /* Global Values */
  
  .desc {
      padding-top: 90px;
  }
  
  .desc p {
      color: #2f2f2f;
  }
  
  .desc t {
      color: #34495e;
      font-weight: 700;
  }
  
  .desc imp {
      padding: 6px;
      color: white;
      background: #34495e;
  }
  
  .desc more {
      color: #95a5a6;
  }
  
  
  sm {
      font-size: 12px;
  }
  
  /* -- https://www.uupecodingbootcamp.com/wp-content/uploads/sites/20/2017/04/Utah_Curriculum-Overview.pdf -- */
  